body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* div {
    border: 1px solid black;
} */
.container {
    display: flex;
    margin: 0px 100px;
}


/* navbar */
.navbar {
    /* display: flex; */
    background-color: rgb(67, 127, 155);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar a {
    text-decoration: none;
    color: white;
}
.navbar-logo {
    width: 20%;
    text-align: left;
    margin-top: -5px;
}
.navbar-menu {
    width: 60%;
}
.navbar-menu li {
    display: inline;
    margin: 0px 50px;
}
.navbar-login {
    width: 20%;
    text-align: right;
    padding: 14px 0px;
}
.btn {
    background-color: rgb(65, 177, 37);
    padding: 5px 18px;
    border-radius: 5px;
}


/* header */
.header {
    /* display: flex; */
    background-color: rgb(67, 127, 155);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 500px;
}
.header-tulisan {
    width: 40%;
    padding: 20px 40px 20px 0px;
}
.header-tulisan h1 {
    font-size: 50px;
    font-weight: 500;
}
.header-tulisan p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.header-tulisan h2 {
    font-weight: 200;
}
.header-gambar {
    width: 60%;
    text-align: center;
    margin-top: -50px;
}


/* main */
.main {
    height: 550px;
}
.main p {
    font-size: 18px;
    line-height: 30px;
}
.main .container {
    display: inline-block;
    margin: 0px 100px;
}
.main-judul {
    margin-top: 50px;
}
.main-judul h1 {
    font-weight: 700;
    font-size: 35px;
}
.main-poin {
    display: flex;
}
.main-poin .satu {
    padding-right: 20px;
}
.main-poin .dua {
    padding-left: 20px;
}
.main-card {
    width: 50%;
    text-align: justify;
}
.main-isi {
    display: flex;
}
.main-isi i {
    width: 8%;
    margin-top: 18px;
    font-size: 1.5em;
}
.main-isi .tulis {
    width: 92%;
}



/* lokasi */
.lokasi {
    height: 300px;
    background-color: rgb(67, 127, 155);
}
.lokasi .lokasi-cari {
    color: white;
    width: 65%;
    text-align: center;
    margin-top: 30px;
}
.lokasi .lokasi-cari .input {
    position: relative;
}
.lokasi .lokasi-cari .input .fa-search {
    position: absolute;
    top: 14px;
    right: 50px;
    color: rgb(67, 127, 155);
    cursor: pointer;
    font-size: 1.2em;
}
.lokasi .lokasi-cari input {
    width: 800px;
    height: 45px;
    border-radius: 15px;
    border: 0px;
}
.lokasi .lokasi-map {
    width: 35%;
}




/* main2 */
.main2 {
    height: 400px;
}
.main2-gambar {
    width: 40%;
    margin-top: -25px;
}
.main2-tulisan {
    width: 60%;
    margin-top: 15px;
}
.main2-tulisan h1 {
    font-size: 35px;
    font-weight: 700;
}
.main2-tulisan li {
    font-size: 21px;
    line-height: 40px;
}



/* footer */
.footer {
    background-color: rgb(67, 127, 155);
    color: white;
    height: 250px;
    padding: 30px 0px;
}
.footer-logo {
    width: 35%;
    margin-top: -10px;
}
.footer-alamat {
    width: 30%;
}
.footer-tentang {
    width: 20%;
}
.footer-support {
    width: 20%;
}
.footer p a {
    color: white;
    text-decoration: none;
}
.footer .sosmed a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}
